
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: monospace;
}

.header, .footer {
    text-align: center;
    background-color: #61764B;
    flex-shrink: 0;
}

.header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #CFB997;
}

.content {
    margin-top: -100px;
    display: flex;
    gap: 40px;
    text-align: center;
}

img {
    margin-bottom: 10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
    background-color: gold;
    padding: 2px;
    border-radius: 2px;
}

a:hover {
    opacity: 0.5;
}
